.header {
  height: 150px;
  background-color: rgba(4, 6, 43, 255);
  position: relative;
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 945px;
}

.header-content h1 {
  color: rgba(15, 70, 243, 255);
  text-align: center;
}

.LogoImg {
  background-image: url(../kblogosample.jpg);
  width: 150px;
  height: 150px;
  background-size: contain;
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 200px;
}

.menu h1 {
  color: white;
}

.border {
  width: 100%;
  height: 1px;
  background-color: #1043f4;
}
