.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.no-coins {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-coins h2 {
  color: white;
  margin-bottom: 200px;
}

.crypto-table-background {
  height: max-content;
  background-color: #04062b;
}

.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #1f83e9;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;

  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 155px;
}

.coin-marketcap {
  width: 230px;
}

.coin-percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  background: #040624;
}

.table-header {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;

  width: 900px;
}

/*.scrolling {
  margin-top: -110px;
  position: fixed;
  background-color: rgb(157, 77, 191);
  width: 100%;
}*/

.table-header li {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.scrolling-heading-value {
  margin-bottom: 30px;
}
.table-header .name {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.coin-data-header {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.price-header {
  width: 110px;
}

.percent-change-header {
  width: 100px;
}

.volume-header {
  width: 155px;
}

.market-cap-header {
  width: 230px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.above-table {
  position: absolute;
  top: 0;
  width: 100%;

  margin-bottom: -100px;
}
.search-container {
  width: inherit;
  height: inherit;
  position: inherit;
  margin-left: 295px;
}

//loader

.loading-container {
  background-color: #04062b;
  height: 100vh;
}
figure {
  margin: 0;
  transform: translate(-50%, -50%) rotate(0deg) scale(1.4, 1.4);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 150px;
  box-sizing: border-box;
  animation: rotation 20s infinite linear;
}

figure div:after {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #21bbe7;
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 20px;
  animation: shuffle 1s infinite;
}

figure div:nth-child(1) {
  transform: rotate(0deg);
}
figure div:nth-child(1):after {
  animation-delay: -0.5s;
}
figure div:nth-child(2) {
  transform: rotate(45deg);
}
figure div:nth-child(2):after {
  animation-delay: -1s;
}
figure div:nth-child(3) {
  transform: rotate(90deg);
}
figure div:nth-child(3):after {
  animation-delay: -1.5s;
}
figure div:nth-child(4) {
  transform: rotate(135deg);
}
figure div:nth-child(4):after {
  animation-delay: -2s;
}
figure div:nth-child(5) {
  transform: rotate(180deg);
}
figure div:nth-child(5):after {
  animation-delay: -2.5s;
}
figure div:nth-child(6) {
  transform: rotate(225deg);
}
figure div:nth-child(6):after {
  animation-delay: -3s;
}
figure div:nth-child(7) {
  transform: rotate(270deg);
}
figure div:nth-child(7):after {
  animation-delay: -3.5s;
}
figure div:nth-child(8) {
  transform: rotate(315deg);
}
figure div:nth-child(8):after {
  animation-delay: -4;
}

@keyframes rotation {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg) scale(1.4, 1.4);
  }
}
@keyframes shuffle {
  50% {
    transform: scale(0.4, 0.4) rotate(-90deg);
    border-radius: 50%;
  }
}

//this is the first option:
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-bar {
  width: 300px;
  height: 115px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
    z-index: 4;
    box-shadow: 0 0 15px 0 #1f83e9;
    // box-shadow: 0 0 25px 0 crimson;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: #1f83e9;
      transform: rotate(45deg);
      transition: all 0.25s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid #1f83e9;
      transition: all 0.25s ease-in-out;
    }
  }
  input {
    font-family: "Inconsolata", monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
    background: transparent;
    color: white;
    text-shadow: 0 0 10px rgba(241, 134, 2, 255);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 15px 0 #1f83e9, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    /*box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);*/
    transition: all 0.5s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 250px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #1c1a27;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
        background: #ff278a;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: #ff278a;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}
