.table-header {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 25px;
}

.scrolling {
  margin-top: -110px;
  position: fixed;
  background-color: rgb(157, 77, 191);
  width: 100%;
}

.table-header li {
  font-size: 24px;
  font-weight: bold;
}

.scrolling-heading-value {
  margin-bottom: 30px;
}

.table-header .name {
  position: fixed;
  margin-right: 875px;
}

.table-header .price {
  position: fixed;
  margin-right: 175px;
}
.table-header .volume {
  position: fixed;
  margin-left: 125px;
}

.table-header .percent-change {
  position: fixed;
  margin-left: 340px;
}

.table-header .market-cap {
  position: fixed;
  margin-left: 735px;
}
