/*.table-header .price {
  position: fixed;
  margin-right: 175px;
}
.table-header .volume {
  position: fixed;
  margin-left: 125px;
}

.table-header .percent-change {
  position: fixed;
  margin-left: 340px;
}

.table-header .market-cap {
  position: fixed;
  margin-left: 735px;
}
*/
